.app-wrapper{
    background-color: #fff;
    height: 100%;
    min-height: 100vh;
    width: 1280px;
    box-shadow: 2px 0px 5px var(--color-gray-500);
}
.ant-table-thead {
    background-color: var(--backgroundColor-primaryLighter);
}
