.app-wrapper {
    --color-primaryTheme: white;
    --backgroundColor-primaryTheme: var(--color-green-600);
    --borderColor-primaryTheme: var(--color-green-700);

    --color-primaryLighter:  var(--color-gray-800);
    --backgroundColor-primaryLighter: var(--color-green-400);
    --borderColor-primaryLighter: var(--color-green-500);
    --color-primaryDarker: var(--color-white);

    --backgroundColor-primaryDarker: var(--color-green-800);
    --borderColor-primaryDarker: var(--color-green-900);

    --color-secondaryTheme:  white;
    --backgroundColor-secondaryTheme: var(--color-blue-600);
    --borderColor-secondaryTheme: var(--color-blue-700);

    --color-secondaryLighter: var(--color-gray-800);
    --backgroundColor-secondaryLighter: var(--color-blue-400);
    --borderColor-secondaryLighter: var(--color-blue-500);

    --color-secondaryDarker: white;
    --backgroundColor-secondaryDarker: var(--color-blue-800);
    --borderColor-secondaryDarker: var(--color-blue-900);
}
