.base-table {
    width: 100%;
    .title-base-table {
        padding: var(--spacing-md) 0;
        display: flex;
        justify-content: space-between;
        font-size: var(--fontSize-md);
        font-weight: var(--fontWeight-bold);
        .title-base-table-action {
            color: var(--color-blue-500);
            &:hover {
                cursor: pointer;
            }
        }
    }
    .body-base-table {
        background-color: white;
        border-radius: var(--borderRadius-md);
        padding: 0 var(--spacing-lg);
        font-size: var(--fontSize-sm);
        box-shadow:  0px 0px 8px var(--backgroundColor-major), 0px 0px 2px var(--color-blue-400);
        .item-body-base-table-name {
            width: 100%
        }
        .item-body-base-table-signer {
            width: 100%
        }
        .item-body-base-table-signer_date {
            width: 100%
        }
        .item-body-base-table-status {
            width: 100%
        }
        .header-base-table {
            display: flex;
            justify-content: space-between;
            font-weight: var(--fontWeight-bold);
            padding: var(--spacing-base) 0;
            &:hover {
                cursor: pointer;
            }
            .item-header-base-table {
                display: flex;
                align-items: center;
            }
        }
        .list-item-content-base-table {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: var(--spacing-base) 0;
            border-top: solid var(--borderWidth-sm) var(--color-neutral-200);
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.base-grid-table {
    .base-table {
        .title-base-table {
            background-color: var(--color-neutral-200);
            border-radius: var(--borderRadius-lg);
            padding: var(--spacing-base);
            display: flex;
            justify-content: center;
        }
        .body-base-table {
            background-color: rgba(0,0,0,0);
            box-shadow: none;
            padding: 0;
            .item-body-base-table-index {
                justify-content: center;
                text-align: center;
                width: 20%;
            }
            
            .header-base-table {
                padding: var(--spacing-xs) 0;
                .item-header-base-table {
                    margin: 0 var(--spacing-xs);
                    padding: var(--spacing-lg);
                    color: var(--color-neutral-700);
                    background-color: var(--color-neutral-100);
                    border-radius: var(--borderRadius-lg);
                }
            }
            .content-base-table {
                .list-item-content-base-table {
                    border-top: none;
                    align-items: initial;
                    padding: var(--spacing-xs) 0;
                    &:hover {
                        background-color: var(--backgroundColor-hovered);
                        border-radius: var(--borderRadius-lg);
                        box-shadow:  0px 0px 8px var(--backgroundColor-major), 0px 0px 2px var(--color-blue-400);
                        .item-content-base-table { 
                            background-color: var(--backgroundColor-hovered);
                            margin:  0 var(--spacing-xs);
                            padding: var(--spacing-lg);
                        }
                        .item-body-base-table-index {
                            text-align: center;
                        }
                    }
                    .item-content-base-table {
                        display: flex;
                        align-items: center;
                        background-color: white;
                        margin:  0 var(--spacing-xs);
                        padding: var(--spacing-lg);
                        border-radius: var(--borderRadius-lg);
                        
                    }
                    .item-body-base-table-index {
                        text-align: center;
                    }
                }
            }
            
        }
    }
}