.acount-mng {
    .form-create {
        display: flex;
        flex-direction: row-reverse;
    }

    .table-account {
        width: 100%;
    }
}
.button-group {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    .button-action {
        margin: 0 var(--spacing-md);
    }
}
.icon-action {
    cursor: pointer;
}
.change-password-action {
    cursor: pointer;
    color: var(--backgroundColor-secondaryDarker);
    &:hover {
        text-decoration: underline;
    }
}
.action {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
