.item-switch {
    display: flex;
    align-items: center;
    .item-switch-name {
        background-color: var(--backgroundColor-secondaryTheme);
        margin: var(--spacing-md);
        display: flex;
        align-items: center;
        border-radius: var(--borderRadius-lg);
        padding: var(--spacing-sm) var(--spacing-lg);
        color: white;
    }
}