.setting-page {
    color: var(--backgroundColor-secondaryDarker);
    font-size: var(--fontSize-md);
    .language {
        display: inline;
        .title {
            padding-right: var(--spacing-xl);
        }
    }
}
