.layout {
    overflow: auto;
    .content-info {
        padding: var(--spacing-2xl);
        font-size: var(--fontSize-lg);
        .info-card {
            margin-top: var(--spacing-md);
            display: flex;
            width: 100%;
            min-width: 400px;
            flex-direction: column;
            .info-card-item {
                display: flex;
                justify-content: space-between;
                div {
                    width: 100%;
                    justify-content: flex-start;
                }
                .info-card-item-param {
                    color: var(--backgroundColor-secondaryDarker);
                }
                .info-card-item-value {
                    color: var(--backgroundColor-primaryDarker);
                }
            }
        }
    }
       
    .logout-button {
        background-color: var(--color-red-400);
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--spacing-sm);
        border-radius: var(--borderRadius-lg);
        margin-top: var(--spacing-3xl);
        a {
            color: white;
        }
    }
}
