.trigger {
    color: var(--color-yellow-1000);
}
.controlling  {
    color: var(--color-teal-500);
}
.monitoring  {
    color: var(--color-blue-500);
}
.setting  {
    color: var(--color-purple-500);
}

.ant-layout-sider-children {
    background-color: #fff;
}