.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-head-text {
    color: #2f855a;
}
.login-form {
    max-width: 300px;
    .login-form-button {
        width: 100%;
    }
}
