.welcome-page {
    display: flex;
    flex-direction:column ;
    align-items: center;
    .button-start-now{
      width: 200px;
      height: 50px;
      .welcom-button-text {
        font-size: 1rem;
      }
    }
}
