@tailwind base;
@tailwind components;
@tailwind utilities;
@import "override/index.scss";

:root {
  --color-primaryTheme: var(--color-gray-900);
  --backgroundColor-primaryTheme: var(--color-gray-400);
  --borderColor-primaryTheme: var(--color-gray-400);
  .primaryTheme {
    color: var(--color-primaryTheme);
    background-color: var(--backgroundColor-primaryTheme);
    border-color: var(--borderColor-primaryTheme);
  }
  --color-primaryLighter: var(--color-gray-700);
  --backgroundColor-primaryLighter: var(--color-gray-300);
  --borderColor-primaryLighter: var(--color-gray-300);
  .primaryLighter {
    color: var(--color-primaryLighter);
    background-color: var(--backgroundColor-primaryLighter);
    border-color: var(--borderColor-primaryLighter);
  }
  --color-primaryDarker: var(--color-white);
  --backgroundColor-primaryDarker: var(--color-gray-600);
  --borderColor-primaryDarker: var(--color-gray-600);
  .primaryDarker {
    color: var(--color-primaryDarker);
    background-color: var(--backgroundColor-primaryDarker);
    border-color: var(--borderColor-primaryDarker);
  }

  --color-secondaryTheme: var(--color-gray-800);
  --backgroundColor-secondaryTheme: var(--color-blue-200);
  --borderColor-secondaryTheme: var(--color-blue-200);
  .secondaryTheme {
    color: var(--color-secondaryTheme);
    background-color: var(--backgroundColor-secondaryTheme);
    border-color: var(--borderColor-secondaryTheme);
  }
  --color-secondaryLighter: var(--color-gray-700);
  --backgroundColor-secondaryLighter: var(--color-blue-100);
  --borderColor-secondaryLighter: var(--color-blue-100);
  .secondaryLighter {
    color: var(--color-secondaryLighter);
    background-color: var(--backgroundColor-secondaryLighter);
    border-color: var(--borderColor-secondaryLighter);
  }
  --color-secondaryDarker: var(--color-white);
  --backgroundColor-secondaryDarker: var(--color-blue-600);
  --borderColor-secondaryDarker: var(--color-blue-600);
  .secondaryDarker {
    color: var(--color-secondaryDarker);
    background-color: var(--backgroundColor-secondaryDarker);
    border-color: var(--borderColor-secondaryDarker);
  }

  --color-tertiaryTheme: var(--color-black-800);
  --backgroundColor-tertiaryTheme: var(--color-purple-300);
  --borderColor-tertiaryTheme: var(--color-purple-300);
  .tertiaryTheme {
    color: var(--color-tertiaryTheme);
    background-color: var(--backgroundColor-tertiaryTheme);
    border-color: var(--borderColor-tertiaryTheme);
  }
  --color-tertiaryLighter: var(--color-black-700);
  --backgroundColor-tertiaryLighter: var(--color-purple-200);
  --borderColor-tertiaryLighter: var(--color-purple-200);
  .tertiaryLighter {
    color: var(--color-tertiaryLighter);
    background-color: var(--backgroundColor-tertiaryLighter);
    border-color: var(--borderColor-tertiaryLighter);
  }
  --color-tertiaryDarker: var(--color-white);
  --backgroundColor-tertiaryDarker: var(--color-purple-700);
  --borderColor-tertiaryDarker: var(--color-purple-700);
  .tertiaryDarker {
    color: var(--color-tertiaryDarker);
    background-color: var(--backgroundColor-tertiaryDarker);
    border-color: var(--borderColor-tertiaryDarker);
  }

  --color-major: var(--color-white);
  --backgroundColor-major: var(--color-blue-500);
  --borderColor-major: var(--color-blue-500);
  .major {
    color: var(--color-major);
    background-color: var(--backgroundColor-major);
    border-color: var(--borderColor-major);
    &:hover {
      --backgroundColor-major: var(--color-blue-400);
      --borderColor-major: var(--color-blue-400);
    }
  }

  --color-minor: rgba(0, 0, 0, 0.65);
  --backgroundColor-minor: var(--color-gray-100);
  --borderColor-minor: var(--color-neutral-300);
  .minor {
    color: var(--color-minor);
    background-color: var(--backgroundColor-minor);
    border-color: var(--borderColor-minor);
    &:hover {
      --backgroundColor-minor: var(--color-white);
    }
  }

  --color-info: var(--color-white);
  --backgroundColor-info: var(--color-cyan-600);
  --borderColor-info: var(--color-cyan-600);
  .info {
    color: var(--color-info);
    background-color: var(--backgroundColor-info);
    border-color: var(--borderColor-info);
    &:hover {
      --backgroundColor-info: var(--color-cyan-500);
      --borderColor-info: var(--color-cyan-500);
    }
  }

  --color-success: var(--color-white);
  --backgroundColor-success: var(--color-green-600);
  --borderColor-success: var(--color-green-600);
  .success {
    color: var(--color-success);
    background-color: var(--backgroundColor-success);
    border-color: var(--borderColor-success);
    &:hover {
      --backgroundColor-success: var(--color-green-500);
      --borderColor-success: var(--color-green-500);
    }
  }

  --color-warning: var(--color-gray-800);
  --backgroundColor-warning: var(--color-yellow-600);
  --borderColor-warning: var(--color-yellow-600);
  .warning {
    color: var(--color-warning);
    background-color: var(--backgroundColor-warning);
    border-color: var(--borderColor-warning);
    &:hover {
      --backgroundColor-warning: var(--color-yellow-500);
      --borderColor-warning: var(--color-yellow-500);
    }
  }

  --color-danger: var(--color-white);
  --backgroundColor-danger: var(--color-red-600);
  --borderColor-danger: var(--color-red-600);
  .danger {
    color: var(--color-danger);
    background-color: var(--backgroundColor-danger);
    border-color: var(--borderColor-danger);
    &:hover {
      --backgroundColor-danger: var(--color-red-500);
      --borderColor-danger: var(--color-red-500);
    }
  }

  .faint {
    color: var(--textColor-faint);
    font-size: var(--fontSize-sm);
  }

  .subtle {
    color: var(--textColor-subtle);
    font-size: var(--fontSize-sm);
  }

  .blunt {
    color: var(--textColor-blunt);
    font-size: var(--fontSize-lg);
    font-weight: var(--fontWeight-bold);
  }

  .extreme {
    color: var(--textColor-extreme);
    font-size: var(--fontSize-xl);
    font-weight: var(--fontWeight-extreme);
  }

  --color-selected: var(--color-white-900);
  --textColor-hovered: var(--color-selected);
  --backgroundColor-hovered: var(--backgroundColor-secondaryTheme);
  --borderColor-hovered: var(--borderColor-secondaryTheme);
  .hovered {
    &:hover {
      color: var(--color-hovered);
      background-color: var(--backgroundColor-hovered);
      border-color: var(--borderColor-hovered);
    }
  }

  --color-selected: var(--color-white);
  --textColor-selected: var(--color-selected);
  --backgroundColor-selected: var(--backgroundColor-secondaryDarker);
  --borderColor-selected: var(--borderColor-secondaryDarker);
  .selected {
    color: var(--color-selected);
    background-color: var(--backgroundColor-selected);
    border-color: var(--borderColor-selected);
  }

  --backgroundColor-visited: #f9f9fa;
  --borderColor-visited: #f9f9fa;
  .visited {
    background-color: var(--backgroundColor-visited);
    border-color: var(--borderColor-visited);
  }

  --color-disabled: rgba(0, 0, 0, 0.5);
  --textColor-disabled: var(--color-disabled);
  --backgroundColor-disabled: #f5f5f5;
  --borderColor-disabled: #d9d9d9;
  .disabled {
    color: var(--color-disabled);
    background-color: var(--backgroundColor-disabled);
    border-color: var(--borderColor-disabled);
  }

  --transparent: transparent;
  --black: #000;
  --white: #fff;

  $size: (
    "none": 0,
    "px": 1,
    "xxs": 2,
    "xs": 3,
    "sm": 4,
    "md": 5,
    "lg": 6,
    "xl": 7,
    "2xl": 8,
    "3xl": 9,
    "4xl": 10,
    "5xl": 11,
    "6xl": 12
  );
  @each $name, $value in $size {
    --size-#{$name}: #{$value};
  }

  $spacing: (
    "none": 0,
    "px": 1px,
    "xxs": 1px,
    "xs": 2px,
    "sm": 4px,
    "md": 5px,
    "base": 8px,
    "lg": 16px,
    "xl": 24px,
    "2xl": 32px,
    "3xl": 36px,
    "4xl": 40px,
    "5xl": 44px,
    "6xl": 48px
  );
  @each $name, $value in $spacing {
    --spacing-#{$name}: #{$value};
  }
  --spacing: var(--spacing-md);

  $borderWidth: (
    "none": 0,
    "px": 1px,
    "sm": 1px,
    "md": 1px,
    "lg": 2px,
    "xl": 4px
  );
  @each $name, $value in $borderWidth {
    --borderWidth-#{$name}: #{$value};
  }
  --borderWidth: var(--borderWidth-sm);

  $fontSize: (
    "xxs": 0.5rem,
    "xs": 0.75rem,
    "sm": 0.875rem,
    "md": 1rem,
    "base": 1rem,
    "lg": 1.125rem,
    "xl": 1.25rem,
    "2xl": 1.5rem,
    "3xl": 1.875rem,
    "4xl": 2.25rem,
    "5xl": 3rem,
    "6xl": 4rem,
    "0": 0,
    "1": 0.25rem,
    "2": 0.5rem,
    "3": 0.75rem,
    "4": 1rem,
    "5": 1.25rem,
    "6": 1.5rem,
    "8": 2rem,
    "10": 2.5rem,
    "12": 3rem,
    "16": 4rem,
    "20": 5rem,
    "24": 6rem,
    "32": 8rem,
    "40": 10rem,
    "48": 12rem,
    "56": 14rem,
    "64": 16rem
  );
  @each $name, $value in $fontSize {
    --fontSize-#{$name}: #{$value};
  }
  --fontSize: var(--fontSize-md);

  $lineHeight: (
    "sm": 0.8,
    "md": 1,
    "lg": 1.25,
    "xl": 1.375,
    "2xl": 1.5,
    "3xl": 1.625,
    "4xl": 2
  );
  @each $name, $value in $lineHeight {
    --lineHeight-#{$name}: #{$value};
  }
  --lineHeight: var(--lineHeight-md);

  $fontWeight: (
    "sm": lighter,
    "subtle": lighter,
    "lighter": lighter,
    "md": 600,
    "normal": normal,
    "lg": bold,
    "bold": bold,
    "blunt": bold,
    "xl": bolder,
    "bolder": bolder,
    "extreme": bolder
  );
  @each $name, $value in $fontWeight {
    --fontWeight-#{$name}: #{$value};
  }
  --fontWeight: var(--fontWeight-md);

  $borderRadius: (
    "none": 0,
    "0": 0,
    "sm": 0.125rem,
    "md": 0.25rem,
    "normal": 0.25rem,
    "lg": 0.5rem,
    "xl": 1rem,
    "2xl": 2rem,
    "3xl": 3rem,
    "max": 99999px,
    "full": 99999px
  );
  @each $name, $value in $borderRadius {
    --borderRadius-#{$name}: #{$value};
  }
  --borderRadius: var(--borderRadius-sm);

  // Placeholder only, prefer not use opacity
  --opacity-0: 0;
  --opacity-25: 0.25;
  --opacity-50: 0.5;
  --opacity-75: 0.75;
  --opacity-100: 1;

  --borderColor-none: transparent;
  --border-none: 0 solid var(--borderColor-none);
  --borderColor-faint: #e5e5e5;
  --border-faint: var(--borderWidth-px) solid var(--borderColor-faint);
  --borderColor-subtle: #cccccc;
  --border-subtle: var(--borderWidth-px) solid var(--borderColor-subtle);
  --borderColor-normal: #b2b2b2;
  --borderColor: var(--borderColor-normal);
  --border: var(--borderWidth-px) solid var(--borderColor);
  --borderColor-blunt: #7f7f7f;
  --border-blunt: var(--borderWidth-px) solid var(--borderColor-blunt);
  --borderColor-extreme: #4c4c4c;
  --border-extreme: var(--borderWidth-px) solid var(--borderColor-extreme);

  --textColor: var(--textColor-normal);
  --color: var(--color-normal);
  --textColor-white: #fff;
  --color-white: var(--textColor-white);
  --textColor-contrast: #fff;
  --color-contrast: var(--textColor-contrast);
  --textColor-faint: rgba(0, 0, 0, 0.25);
  --color-faint: var(--textColor-faint);
  --textColor-subtle: rgba(0, 0, 0, 0.45);
  --color-subtle: var(--textColor-subtle);
  --textColor-normal: rgba(0, 0, 0, 0.65);
  --color-normal: var(--textColor-normal);
  --textColor-blunt: rgba(0, 0, 0, 0.85);
  --color-blunt: var(--textColor-blunt);
  --textColor-extreme: rgba(0, 0, 0, 1);
  --color-extreme: var(--textColor-extreme);

  $boxShadow: (
    "0": unset,
    "1": (
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24)
    ),
    "2": (
      0 3px 6px rgba(0, 0, 0, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23)
    ),
    "3": (
      0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23)
    ),
    "4": (
      0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22)
    ),
    "5": (
      0 19px 38px rgba(0, 0, 0, 0.3),
      0 15px 12px rgba(0, 0, 0, 0.22)
    ),
    "1-inset": (
      0 1px 3px rgba(0, 0, 0, 0.12) inset,
      0 1px 2px rgba(0, 0, 0, 0.24) inset
    ),
    "2-inset": (
      0 3px 6px rgba(0, 0, 0, 0.16) inset,
      0 3px 6px rgba(0, 0, 0, 0.23) inset
    ),
    "3-inset": (
      0 10px 20px rgba(0, 0, 0, 0.19) inset,
      0 6px 6px rgba(0, 0, 0, 0.23) inset
    ),
    "4-inset": (
      0 14px 28px rgba(0, 0, 0, 0.25) inset,
      0 10px 10px rgba(0, 0, 0, 0.22) inset
    ),
    "5-inset": (
      0 19px 38px rgba(0, 0, 0, 0.3) inset,
      0 15px 12px rgba(0, 0, 0, 0.22) inset
    )
  );
  @each $rating, $scheme in $boxShadow {
    --boxShadow-#{$rating}: #{$scheme};
  }

  --color-white-100: rgba(255, 255, 255, 0.1);
  --color-white-200: rgba(255, 255, 255, 0.2);
  --color-white-300: rgba(255, 255, 255, 0.3);
  --color-white-400: rgba(255, 255, 255, 0.4);
  --color-white-500: rgba(255, 255, 255, 0.5);
  --color-white-600: rgba(255, 255, 255, 0.6);
  --color-white-700: rgba(255, 255, 255, 0.7);
  --color-white-800: rgba(255, 255, 255, 0.8);
  --color-white-900: rgba(255, 255, 255, 0.9);

  --color-black-100: rgba(0, 0, 0, 0.1);
  --color-black-200: rgba(0, 0, 0, 0.2);
  --color-black-300: rgba(0, 0, 0, 0.3);
  --color-black-400: rgba(0, 0, 0, 0.4);
  --color-black-500: rgba(0, 0, 0, 0.5);
  --color-black-600: rgba(0, 0, 0, 0.6);
  --color-black-700: rgba(0, 0, 0, 0.7);
  --color-black-800: rgba(0, 0, 0, 0.8);
  --color-black-900: rgba(0, 0, 0, 0.9);

  --color-neutral-100: #e5e5e5;
  --color-neutral-200: #cccccc;
  --color-neutral-300: #b2b2b2;
  --color-neutral-400: #999999;
  --color-neutral-500: #7f7f7f;
  --color-neutral-600: #666666;
  --color-neutral-700: #4c4c4c;
  --color-neutral-800: #323232;
  --color-neutral-900: #191919;

  --color-gray-100: #f7fafc;
  --color-gray-200: #edf2f7;
  --color-gray-300: #e2e8f0;
  --color-gray-400: #cbd5e0;
  --color-gray-500: #a0aec0;
  --color-gray-600: #718096;
  --color-gray-700: #4a5568;
  --color-gray-800: #2d3748;
  --color-gray-900: #1a202c;

  --color-red-100: #fff1f0;
  --color-red-200: #ffccc7;
  --color-red-300: #ffa39e;
  --color-red-400: #ff7875;
  --color-red-500: #ff4d4f;
  --color-red-600: #f5222d;
  --color-red-700: #cf1322;
  --color-red-800: #a8071a;
  --color-red-900: #820014;
  --color-red-1000: #5c0011;

  --color-orange-100: #fff7e6;
  --color-orange-200: #ffe7ba;
  --color-orange-300: #ffd591;
  --color-orange-400: #ffc069;
  --color-orange-500: #ffa940;
  --color-orange-600: #fa8c16;
  --color-orange-700: #d46b08;
  --color-orange-800: #ad4e00;
  --color-orange-900: #873800;
  --color-orange-1000: #612500;

  --color-yellow-100: #feffe6;
  --color-yellow-200: #ffffb8;
  --color-yellow-300: #fffb8f;
  --color-yellow-400: #fff566;
  --color-yellow-500: #ffec3d;
  --color-yellow-600: #fadb14;
  --color-yellow-700: #d4b106;
  --color-yellow-800: #ad8b00;
  --color-yellow-900: #876800;
  --color-yellow-1000: #614700;

  --color-green-100: #f6ffed;
  --color-green-200: #d9f7be;
  --color-green-300: #b7eb8f;
  --color-green-400: #95de64;
  --color-green-500: #73d13d;
  --color-green-600: #52c41a;
  --color-green-700: #389e0d;
  --color-green-800: #237804;
  --color-green-900: #135200;
  --color-green-1000: #092b00;

  --color-cyan-100: #e6fffb;
  --color-cyan-200: #b5f5ec;
  --color-cyan-300: #87e8de;
  --color-cyan-400: #5cdbd3;
  --color-cyan-500: #36cfc9;
  --color-cyan-600: #13c2c2;
  --color-cyan-700: #08979c;
  --color-cyan-800: #006d75;
  --color-cyan-900: #00474f;
  --color-cyan-1000: #002329;

  --color-blue-100: #e6f7ff;
  --color-blue-200: #bae7ff;
  --color-blue-300: #91d5ff;
  --color-blue-400: #69c0ff;
  --color-blue-500: #40a9ff;
  --color-blue-600: #1890ff;
  --color-blue-700: #096dd9;
  --color-blue-800: #0050b3;
  --color-blue-900: #003a8c;
  --color-blue-1000: #002766;

  --color-geekblue-100: #f0f5ff;
  --color-geekblue-200: #d6e4ff;
  --color-geekblue-300: #adc6ff;
  --color-geekblue-400: #85a5ff;
  --color-geekblue-500: #597ef7;
  --color-geekblue-600: #2f54eb;
  --color-geekblue-700: #1d39c4;
  --color-geekblue-800: #10239e;
  --color-geekblue-900: #061178;
  --color-geekblue-1000: #030852;

  --color-purple-100: #f9f0ff;
  --color-purple-200: #efdbff;
  --color-purple-300: #d3adf7;
  --color-purple-400: #b37feb;
  --color-purple-500: #9254de;
  --color-purple-600: #722ed1;
  --color-purple-700: #531dab;
  --color-purple-800: #391085;
  --color-purple-900: #22075e;
  --color-purple-1000: #120338;

  --color-magenta-100: #fff0f6;
  --color-magenta-200: #ffd6e7;
  --color-magenta-300: #ffadd2;
  --color-magenta-400: #ff85c0;
  --color-magenta-500: #f759ab;
  --color-magenta-600: #eb2f96;
  --color-magenta-700: #c41d7f;
  --color-magenta-800: #9e1068;
  --color-magenta-900: #780650;
  --color-magenta-1000: #520339;

  --color-teal-100: #e6fffa;
  --color-teal-200: #b2f5ea;
  --color-teal-300: #81e6d9;
  --color-teal-400: #4fd1c5;
  --color-teal-500: #38b2ac;
  --color-teal-600: #319795;
  --color-teal-700: #2c7a7b;
  --color-teal-800: #285e61;
  --color-teal-900: #234e52;

  --color-indigo-100: #ebf4ff;
  --color-indigo-200: #c3dafe;
  --color-indigo-300: #a3bffa;
  --color-indigo-400: #7f9cf5;
  --color-indigo-500: #667eea;
  --color-indigo-600: #5a67d8;
  --color-indigo-700: #4c51bf;
  --color-indigo-800: #434190;
  --color-indigo-900: #3c366b;

  --color-pink-100: #fff5f7;
  --color-pink-200: #fed7e2;
  --color-pink-300: #fbb6ce;
  --color-pink-400: #f687b3;
  --color-pink-500: #ed64a6;
  --color-pink-600: #d53f8c;
  --color-pink-700: #b83280;
  --color-pink-800: #97266d;
  --color-pink-900: #702459;
}
