.select-time {
    .select-item {
        display: flex;
        align-items: center;
        margin: var(--spacing-md);
        .ant-select {
            margin: 0 var(--spacing-md);
        }
    }
}
.chartjs-render-monitor {
    background-color: #fff;
}

.ant-table-wrapper {
    background-color: #fff;
    .ant-table-tbody {
        background-color: #fff;
        color: #0050b3;
    }
    .ant-table-column-title{
        color: #0050b3;
    }
    .ant-pagination-item *{
        color: #0050b3;
    }
   
}   
.label {
    font-size: 32px;
}
.date-range {
    display: flex;
    align-items: center;
    .date-range-item {
        margin: var(--spacing-md);
    }
}