.home-title {
    font-size: var(--fontSize-lg);
    color: var(--backgroundColor-secondaryDarker);
    margin: var(--spacing-lg);
    a {
        color: var(--backgroundColor-primaryDarker);
        text-decoration: underline;
    }
    
}