.menu {
    line-height: 48px;
    direction: rtl;
    text-align: left;
}
.ant-menu.ant-menu-horizontal{
    border-bottom: 1px solid var(--backgroundColor-primaryLighter);
    a {
        color:var(--backgroundColor-secondaryDarker);
    }
    .ant-menu-item-selected {
        a {
            color: var(--backgroundColor-primaryTheme);
        }
    }
}

