.table-sensors-now {
    display: flex;
    flex-direction: column;
    .table-sensors-now-item {
        display: flex;
    }
    .base-grid-table {
        .base-table {
            .title-base-table {
                border-radius: 0;
                .title-base-table-text {
                    font-size: var(--fontSize-xl);
                    color: var(--backgroundColor-secondaryDarker);

                }
            }
            .body-base-table {
                display: flex;
                flex-direction: row;
                font-size: var(--fontSize-md);
                .header-base-table {
                    flex-direction: column;
                    .item-header-base-table {
                        margin: 1px;
                        border-radius: 0;
                    }
                }
                .content-base-table {
                    display: flex;
                    flex-direction: row;
                    .list-item-content-base-table {
                        flex-direction: column;
                        .item-content-base-table {
                            background-color: var(--backgroundColor-secondaryLighter);
                            margin: 1px;
                            color: white;
                            font-weight: var(--fontWeight-bold);
                            justify-content: center;
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }
}
